<h1 class="head-line">掲示板一覧   <button class="btn" style="border:solid 2px blue;"><%= link_to "投稿する", new_board_path %></button></h1>

<div class="row">
<% if @boards %>
  <% @boards.each do |board| %>
  <div class="col-sm-offset-2 col-sm-8 boards">
    <%= link_to(board_path(board)) do %>
    <div class="board-box">
      <h3><%= board.title %></h3></br>
      <p><%= board.content  %></p>
      <div style="height:50px; width:50px;">
        <%= image_tag board.image, style:"height:130px; width:130px; position:absolute; top:10px; right:110px; border-radius:5px" if board.image.attached? %>
      </div>
      <p class="time-ago"><%= time_ago_in_words(board.created_at) %></p>
    </div>
    <% end%>
    <%= render "favorites/like_button", board: board %>
  </div>
  <% end %>
<% end %>
</div>

<div class="text-center" style="margin-top:30px;">
  <%= paginate @boards %>
</div>